@import url('https://fonts.googleapis.com/css2?family=SoDoSans&display=swap');
*,
a {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style: none !important;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif ;
}

.container {
    max-width: 1440px !important;
    margin: 0 auto !important;
}

.menu-nav {
    background-color: #F9F9F9;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, .1), 0 -2px 2px rgba(0, 0, 0, .06), 0 0 2px rgba(0, 0, 0, .07);
    ;
}

.menu-nav ul {
    display: flex;
    padding: 16px 0 16px 89px !important;
    column-gap: 32px;
}

.menu-nav ul li a {
    font-size: 13px;
    text-transform: capitalize;
    color: black;
}

.menu-nav ul li:first-child {
    border-bottom: 1px solid black;
    padding-bottom: 4px !important;
}

.product {
    margin-left: 128px !important;
    padding: 40px 0 0 0 !important;
}

.product .row {
    display: flex;
}

.product .drinks-left {
    width: 65%;

}

.product .product-bottom span {
    display: inline-block;
    font-size: 19px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 24px !important;
}


.product li a {
    font-size: 16px;
    color: #00000094;
    cursor: pointer;
    line-height: 1.5;
}

.product .product-flex {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.product .product-bottom {
    margin-bottom: 24px !important;
}

.product-menu {
    display: flex;
}

.drinks-right {
    margin-left: 40px !important;
    width: 62.5%;
}

.drinks-right h1 {
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 48px !important;
}

.drinks h2 {
    font-weight: 700;
    font-size: 24px;
    border-bottom: 2px solid #0000001a;
    padding-bottom: 16px !important;
}

.drinks-grid {
    display: flex;
    flex-wrap: wrap !important;
    row-gap: 32px;
    margin: 32px 0 60px 0 !important;
}

.drinks-item {
    width: 50%;
}

.drinks-item a {
    display: flex !important;
    column-gap: 16px;
    align-items: center;
}

.drinks-item h3 {
    text-transform: capitalize;
    color: #000000de;
}

.drinks-item  .imgg img {
    height: 112px;
    width: 112px;
    border-radius: 50%;
    object-fit: cover !important;

}



@media (max-width: 576px) {
    .container {
        max-width: 540px !important
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 750px !important
    }

    .product .drinks-left {
        display: none;
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 960px !important
    }
    .product .drinks-left {
        display: none;
    }

}

@media (max-width: 1200px) {
    .container {
        max-width: 1180px !important
    }
}

@media (max-width: 1700px) {
    .container {
        max-width: 1660px !important
    }
}