.company{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company h2{
font-size: 50px ;
font-weight: 700;
margin: 48px 0 !important;
letter-spacing: 2px;
line-height: 1.2;

}
.company-img-text{
    width: 47%;
    height: 40%;
}
.comp-img img{
    width: 100%;
}
.comp-img-text h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.4;
    margin-top: 24px !important;
}
.comp-img-text p{
    margin-top: 24px !important;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
    width: 93%;
}
.comp-img-text p:last-child{
    margin-bottom: 80px !important;
}
.comp-img-text{
    margin-top: 32px !important;

}
.comp-img-text h3{
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 1px;
}