* {
    box-sizing: border-box !important;
}

.gift-items {
    margin-top: 75px !important;
    margin-bottom: 64px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gift-item {
    width: 34.8%;
}

.breadcrumb {
    display: flex;
    gap: 5px;
    margin-bottom: 16px !important;
}

.breadcrumb a {
    font-size: 16px;
    color: #00000094;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
}

.breadcrumb p {
    font-size: 16px;
    color: #00000094;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5;
}

.g-text-img {
    display: inline-block;
}

.g-text-img h5 {
    font-size: 28px;
    line-height: 1.385;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 24px !important;
}

.g-img {
    width: 100%;
}

.g-img img {
    border-radius: 20px;
    width: 100%;
}

.g-text-img span {
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px !important;
    display: block;
    line-height: 1.5;
    letter-spacing: 1px;
}

.amount h3 {
    font-size: 24px;
    color: #000000de;
    font-weight: 600;
    margin: 30px 0 16px 0 !important;
    letter-spacing: 1px;
    line-height: 1.5;
    border-bottom: 4px solid #d4e9e2;
    padding: 0 8px 12px !important;
}

.amount select {
    cursor: pointer;
    width: 100%;
    height: 48px;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 10px !important;
    border-radius: 10px;
    padding-bottom: 8px !important;
}

.amount fieldset {
    border-radius: 10px;
}
.amount{
    margin-bottom: 44px !important;
}
.gift-inputs{
    margin-bottom: 28px !important;
}

.giftin h3{
    font-size: 24px;
    color: #000000de;
    font-weight: 600;
    margin: 30px 0 16px 0 !important;
    letter-spacing: 1px;
    line-height: 1.5;
    border-bottom: 4px solid #d4e9e2;
    padding: 0 8px 12px !important;
}
.gift-inputs input{
    width: 100%;
    padding: 15px  16px 15px 16px !important;
    border-radius: 7px;
    outline: none !important;
    border: none !important;
    /* border: 1px solid #999999; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: -1;
}
.gift-inputs input:hover{

    border: 4px #cd0e0e !important;
}
.gift-inputs .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root{
    border-radius: 8px;
}

.optional .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root{
    height: 111px !important;

}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color: #00754A !important; 
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root:focus-within .MuiOutlinedInput-notchedOutline {
    border-color: #C4C4C4 !important;
}


.gift-inputs  .error {
    border: 2px solid red;
    border-radius: 8px;
}
.gift-inputs .error label{
color: #d62b1f;
}
.gift-inputs label{
    font-size: 19px;
    color: #00000094;
    font-weight: 400;
    background-color: #fff;
    top: -4px;
}
.max-rec{
    text-align: center;
}
.max-rec h5{
    font-size: 16px;
    color: #000000de;
    margin-bottom: 16px !important;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 400;
}
.max-rec button{
    padding: 7px 16px !important;
    color: #fff;
    background-color: black;
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
}
.max-rec button:hover{
    background-color: #4C4C4C;
}
.optional h5{
    font-size: 16px !important;
    color: #000c !important;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 16px !important;
}
.optional label{
    color: black;
}
.purchasing{
    background-color: #EDEBE9;
    padding-bottom: 91px !important;
    display: flex;
    justify-content: center;
    margin-bottom: 48px !important;
}
.purchasing h4{
    font-size: 16px;
    text-align: center;
    color: #00000094;
    padding: 16px 0 !important;
    font-weight: 400;
    line-height: 1.5;
}
.purchasing h4 img{
    width: 32px  !important;
    height: 22px;
    padding-right:  8px !important;
}
.purchasing a{
    outline: none;
    border: 1px solid black;
    padding: 7px 16px !important;
    color: black;
    background-color: transparent;
    font-size: 16px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    margin-left: 32px !important;
}
.purchasing a svg{
    width: 5.75% !important ;
    height: 12px !important;
    margin-left: 5px !important;
}
.purchasing a:hover{
    background-color: #D5D3D1;
}



@media (max-width: 576px) {
    .container {
        max-width:540px !important
    }
}

@media (max-width: 768px) {
    .container {
        max-width:750px !important
    }
    .gift-items{
        margin-top: 40px !important;
    }
    .gift-item {
        width: 91.8%;
    }
    .breadcrumb p{
        font-size: 14px;
    }
    .g-text-img h5{
        font-size: 24px;
    }
    .amount h3{
        font-size: 19px;
    }
    .giftin h3{
        font-size: 19px;
    }
    .purchasing a{
        font-size: 14px;
    }
    .purchasing h4{
        font-size: 14px;
        padding: 0 16px !important;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .container {
        max-width:960px !important
    }
    .gift-item { width: 64.8%; }
}

@media (max-width: 1200px) {
    .container {
        max-width:1180px  !important
    }
}

@media (max-width: 1700px) {
    .container {
        max-width:1660px
    }}