@import url(https://fonts.googleapis.com/css?family=Roboto+Serif:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif !important;

}

.container {
    max-width: 1440px !important;
    margin: 0 auto !important;
}

.card .left img {
    width: 720px;
    height: 420px;
}

.card {
    margin-top: 2.4rem !important;
    margin-bottom: 2.4rem !important;
    display: flex;
}

.card .right {
    background-color: #BBF2D1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center !important;
}

.right h1 {
    font-size: 24px;
    margin-bottom: 24px !important;
}

.right p {
    font-size: 19px;
    line-height: 1.75;
    text-align: center;
}

.text {
    text-align: center !important;
    justify-content: center !important;
    width: 68%;

}

.text button {
    margin-top: 32px !important;
    padding: 7px 16px !important;
    background: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
}

.text button:hover {
    background: #ABDFC1;
}

.reverse-cart {
    flex-direction: row-reverse;
}

.reverse-cart .right {

    background-color: #ECAED8 !important;
}

.card .left .two-img {
    width: 720px;
    height: 625px;
}

.right .two-text {
    font-size: 50px;
    color: #552200;
}

.right .two-p {
    color: #552200;
    font-size: 24px;
}

.right .text-two {
    width: 69%;
}

.right .order {
    margin-top: 32px !important;
    padding: 7px 16px !important;
    background: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
}

.right .order:hover {
    background-color: #D7A2C7;
}

.right .total {
    font-size: 50px;
    color: #FDD8F7;
}

.card .brown {
    background-color: #552200;
}

.brown .pinkp {
    color: #FDD8F7;
    font-size: 24px;
}

.brown .button-brown {
    color: white;
    border-color: white;
}

.button-brown:hover {
    background: #441B00 !important;
}

.right .savory {
    color: #1E3932;
}

.right .white {
    color: white;
    border-color: white;
}

.card .bck-blue {

    background-color: #A5C4DC !important;
}

.card .hover-blue:hover {
    background-color: #97B6CB;
}

.card .blue-dark {
    background-color: #337481;
}

.reverse-cart .green {
    background-color: #006241 !important;
    width: 100%;
}

.card .button-blue:hover {
    background-color: #295D67 !important;
}

.reverse-cart .btn-green:hover {
    background-color: #004E34;

}


.text-center-flex{
    display: flex !important;
    justify-content: center !important;
  
}
.text-center h5 {
    width: 43%;
    font-size: 13px;
    line-height: 1.8;
    color: #000000;
    font-weight: 600;
    margin: 32px 0 !important;
}
.text-center h5 a{
    text-decoration: underline;
    color: #000000;
}

footer{
    box-shadow: 0 -1px 3px rgba(0,0,0,.1), 0 -2px 2px rgba(0,0,0,.06), 0 0 2px rgba(0,0,0,.07);
}
.cards{
    display: flex;
    
    padding:24px 0 0  0  !important;
    }

.footer-card{
    width: 190px !important;
    margin: 0 0 0 32px !important;
}
.footer-card:first-child{
    margin: 0 !important;
}
.footer-card h1{
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 24px !important;
}
.footer-card a{
    display: inline-block ;
    margin: 0 0 8px !important;
    padding:  8px 0 !important;
    color: rgba(0,0,0,.58);
    font-size: 16px ;
}
.social{
    border-top: 1px solid #E5E5E5;
}
 .social ul{
display: flex;
margin-top: 12px !important;
}
.social ul li{
    width: 32px;
    height: 32px ;
}

.footer-bottom ul{
    display: flex;
}
.footer-bottom ul li a{
    font-size: 16px;
    padding:  0 16px 0 0 !important ;
    color: black;
}
.footer-bottom p{
    margin-top: 12px !important;
    color: #6B6B6B;
}